.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing) 0px;
  background-color: var(--colorDark);
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}
