.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing) 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--colorDark);
  z-index: 5;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}
