.content__asteroids {
  display: none;
  justify-content: space-around;
  width: 100%;
  background-color: var(--colorDark);
}

.orbit__asteroids {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  position: absolute;
  top: 100px;
  width: 100%;
  height: 100%;
}

.asteroid1 {
  width: 7%;
  align-self: center;
  animation: animationFrames1 linear 25s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

.asteroid2 {
  width: 7%;
  align-self: center;
  justify-self: flex-start;
  animation: animationFrames2 linear 15s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

.asteroid3 {
  width: 7%;
  align-self: center;
  justify-self: flex-end;
  animation: animationFramesNegative linear 10s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

.asteroid4 {
  width: 7%;
  align-self: center;
  animation: animationFrames3 linear 12s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

@keyframes animationFrames1{
  0% {
    transform:  translate(-150px,0px)  rotate(0deg) ;
  }
  100% {
    transform:  translate(1700px,0px)  rotate(180deg) ;
  }
}

@keyframes animationFrames2{
  0% {
    transform:  translate(-150px,0px)  rotate(0deg) ;
  }
  100% {
    transform:  translate(1700px,0px)  rotate(180deg) ;
  }
}

@keyframes animationFrames3{
  0% {
    transform:  translate(-150px,0px)  rotate(0deg) ;
  }
  100% {
    transform:  translate(1700px,0px)  rotate(180deg) ;
  }
}

@keyframes animationFramesNegative{
  0% {
    transform:  translate(150px,0px)  rotate(0deg) ;
  }
  100% {
    transform:  translate(-1700px,0px)  rotate(180deg) ;
  }
}

.button-asteroids {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 190px;
  height: 40px;
  margin: var(--spacingx2) 0px;
  color: white;
  text-align: center;
  background-color: transparent;
  border: 3px solid var(--colorPrincipal);
  font-size: var(--sizeText);
  font-weight: bold;
}

.button-asteroids:hover {
  color: var(--colorDark);
  background-color: var(--colorPrincipal);
}
